<link rel="stylesheet" href="../../static/css/main/main.css">
{% extends "main/base.html" %}

{% block content %}
<div class="auth">
    {% if current_user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle user" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <img src="../../{{ current_user.photo }}" width="40" height="40"
                 style="border-radius: 22px">
            <strong style="color: #ffffff">{{ current_user.name }}</strong>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/{{current_user.login}}">Профиль</a></li>
            <li><a class="dropdown-item" href="/diary">Дневник</a></li>
            <li><a class="dropdown-item" href="/safeappschool" aria-current="true">SafeAppSchool</a></li>
            <li><a class="dropdown-item btn btn-danger active" href="/logout">Выйти</a></li>
        </ul>
    </div>
    {% else %}
    <div class="login">
        <a class="button" href="/register"><p class="btn_text">Регистрация</p></a>
        <a class="button" href="/login"><p class="btn_text">Вход</p></a>
    </div>
    {% endif %}
</div>
<div class="header">
    <img class="header_logo" src="../../static/img/string_moona_no_back.png" width="50%">
    <h2 class="header_title">Добро пожаловать в Moona! Мы всегда рады предоставить вам наши сервисы :з</h2>
</div>
<a href="/diary">
    <div class="article_one">
        <div class="article_one_text_back">
            <p class="article_one_text">Наш первый сервис - это личный дневник, вы можете создавать посты и выкладывать
                их
                или оставить приватными, если хотите посекретничать :З</p>
        </div>
        <img class="article_one_image img-thumbnail" src="../../static/img/MoonCcircl.png">
    </div>
</a>
<a href="/safeappschool/main">
    <div class="article_two">
        <img class="article_two_image img-thumbnail" src="../../static/img/maps.png">
        <div class="article_two_text_back">
            <p class="article_two_text">
                Второй наш сервис позволяет вам строить безопасные пешеходные маршруты нажатием одной кнопки (работает
                на
                яндекс картах)
            </p>
        </div>
    </div>
</a>
{% endblock %}