<!DOCTYPE html>
<html lang="ru">
<head>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="../static/img/maps.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat+Alternates:wght@600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/safe_app_school/base.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d101001e-49f5-4a17-ac39-2d67f64b3f9b"
            type="text/javascript"></script>
    <script src="../../{{path}}" type="text/javascript"></script>
    <style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }



    </style>
    <title>{{title}}</title>
</head>
<body>
<!-- Begin page content -->
<main role="main">
    {% block content %}{% endblock %}
</main>
<!-- VK Widget -->
<div id="vk_safeappschool_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_safeappschool_messages", 217189637, {disableExpandChatSound: "1",disableButtonTooltip: "1"});
</script>
</body>
</html>