<link rel="stylesheet" href="../../static/css/safe_app_school/confirmation.css">
{% extends "safe_app_school/base.html" %}

{% block content %}
<div class="back">
    <a href="/safeappschool/main"><p class="back_text" style="color: #ffffff">Назад</p></a>
</div>
<div class="divlog">
    <h1 class="title">Подтверждение почты</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <h3>Мы отправили секретный код вам на почту</h3>
        <p>
            {{ form.code_key.label }}<br>
            {{ form.code_key(class="form-control") }}<br>
            {% for error in form.code_key.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {% if message != '' %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}