<link rel="stylesheet" href="../../static/css/diary/main.css">
{% extends "diary/base.html" %}

{% block content %}
<div class="header">
    <img class="header_logo" src="../../static/img/string_moona_no_back.png" width="50%">
    <h2 class="header_title">Добро пожаловать в дневник от moona - ваш проводник в мир оптимизма, дружелюбия и
        единения!</h2>
</div>
<div class="body">
    <div class="article_one">
        <div class="article_one_text_back">
            <p class="article_one_text">Мы помогаем людям лучше понять себя, найти поддержку и поймать хорошее
                настроение. Ведь moona - непросто дневник, а настоящая соцсеть, где вы можете поделиться своими
                историями, или оставить их при себе :з</p>
        </div>
        <img class="article_one_image img-thumbnail" src="../../static/img/neon_novel.png">
    </div>
    <div class="article_two">
        <img class="article_two_image img-thumbnail" src="../../static/img/neon_man.png">
        <div class="article_two_text_back">
            <p class="article_two_text">
                Ведение личного дневника:
            </p>
            <ul class="article_two_text">
                <li>способствует самопознанию</li>
                <li>учит грамотно выражать мысли</li>
                <li>улучшает память и концентрацию</li>
                <li>минимизирует нехватку живого общения</li>
                И имеет еще ряд положительных
                эффектов
            </ul>
        </div>
    </div>
    <div class="article_three">
        <div class="article_three_text_back">
            <p class="article_three_text">
                moona не просто дает возможность вести личный дневник в полной приватности, но также позволяет
                частично
                (или полность) поделиться своими достижениями, мыслями и переживаниями, а график настроения и и
                статистика помогут вам проанализировать себя :з
            </p>
        </div>
        <img class="article_three_image img-thumbnail" src="../../static/img/neon_people.png">
    </div>
    <div class="join_us">
        <h2 class="join_us_header">Присоединяйся к нам! Регистрируйся или авторизуйся :з</h2>
        <div class="join_us_login_block">
            <a class="button" href="/diary/register"><p class="btn_text">Регистрация</p></a>
            <a class="button" href="/diary/login"><p class="btn_text">Вход</p></a>
        </div>
    </div>
</div>
{% endblock %}