.about_block {
    padding: 3%;
    background-color:#7fc3ff;
    border-radius: 22px;
}
.dop {
    margin-top: 5%;
    width: 50%;
    margin-left: 20%;
}
.dop2 {
    width: 130%;
    margin-left: -80%;
}
.about_text {
    color: #ffffff;
    font: bold;
}
.contact {
    padding: 3%;
    background-color:#7fc3ff;
    border-radius: 22px;
}
.contact_content {
    color: #ffffff;
    font: bold;
}