.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
}
body {
    font-family: 'Comfortaa', cursive;
    background-color: #f0ffff;
}
.user_img {
    border-radius: 50%;
}
.upp_zag {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}