.bad_user {
margin-left: auto;
    margin-right: auto;
background-color: #1daff0;
color: #ffffff;
width: 50%;
height: 55%;
-webkit-border-radius:22px;
-moz-border-radius: 22px;
border-radius: 22px;
border:2px solid #FFFFFF;
margin-top: 20px;
}
.bad_centre {
text-align: center;
}
#image {
width: 70%;
}
#all_my_post {
width: 35%;
margin-left: auto;
    margin-right: auto;
}
#my_post {
text-align: center;
margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #7fc3ff;
    border-radius: 22px;
}
.my_author, .my_post_zag {
text-align: center;
margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
#pub, #private {
width: 60%;
height: 10%;
margin-left: auto;
    margin-right: auto;
}
#add_post {
margin-top: 20px;
margin-left: 85%;
}
#edit_btn {
background-color: #c5f1ff;
}
input[type=text], input[type=email], input[type=password], input[type=file], input[type=number]{
  padding:10px;
  border:5;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
}
textarea {
  width:100%;
  resize: vertical;
  padding:10px;
  border-radius:10px;
  border:5;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  height:150px;
}
.post_form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%
}
.box {
    margin-left: 20px;
}