body {
    background-image: url('../img/back_moona.png');
}
.header, .body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.body {
    margin-top: 5%;
}
.header_logo {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.header_title {
    text-align: center;
    color: white;
    margin-left: 27%;
    margin-right: 27%;
    width: 46%;
    height: auto;
    margin-top: 15px;
}
.article_one {
    width: 100%;
    height: 27%;
    max-height: 27%;
    display: flex;
    justify-content: space-around;
}
.article_one_text_back {
    width: 50%;
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
    border-radius: 22px;
    height: 94%;
}
.article_one_text {
    width: 94%;
    height: 94%;
    margin-top: 3%;
    margin-left: 3%;
    overflow: auto;
    color: white;
    text-align: justify;
}
.article_one_image {
    height: 100%;
}