.profile_header_photo_img {
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-top: 40px;
    margin-left: 15%;
}
.profile_header_name {
    text-align: right;
    color: #ffffff;
    margin-right: 25px;
}
.profile_header {
    width: 90%;
}
.all_profile {
    margin-left: 10%;
    width: 85%;
    margin-right: 5%;
    background-color: #66c0e9;
    margin-top: 55px;
    border-radius: 50px;
}
.row_centre, .row_right {
    width: 33%;
}
table {
    width: 99%;
    margin-left: 10%;
    margin-right: 10%;
}
.profile_header_photo_img {
    float:right;
    margin-right: 5px;
}
.row_left {
    color: #ffffff;
    width: 20%;
}
.user_posts {
    margin-top: 50px;
}
.user_posts {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
}
.logout_btn {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}