.all_div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.add_q {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}
.h_q {
    text-align: center;
}
form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.btn_sm {
text-align: center;
border-radius: 25px;
}