.header, .body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.header_logo {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.header_title {
    text-align: center;
    color: white;
    margin-left: 27%;
    margin-right: 27%;
    width: 46%;
    height: auto;
    margin-top: 15px;
    transition: font-size 0.5s ease-in, text-shadow 1s ease-in;
}
.header_title:hover {
    font-size: 33;
    text-shadow: 0px 0px 20px #ffffff;
}
.article_one, .article_two {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 60%;
    display: flex;
    justify-content: space-around;
}
.article_one_text_back, .article_two_text_back {
    width: 50%;
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
    border-radius: 20px;
    height: 94%;
    align-self: center;
    transition: border-radius 0.5s ease-in, box-shadow 1s ease-in;
}
.article_one_text_back:hover, .article_two_text_back:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 50px #fff;
}
.article_one_text, .article_two_text {
    width: 94%;
    height: 94%;
    margin-top: 3%;
    margin-left: 3%;
    overflow: auto;
    color: white;
    font-size: 20px;
}
.article_one_image, .article_two_image {
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #fffeff, #d7fffe);
    border-radius: 16px;
    transition: border-radius 0.5s ease-in, box-shadow 1s ease-in;
    align-self: center;
}
.article_one_image:hover, .article_two_image:hover {
    border-radius: 22px;
    box-shadow: 0px 0px 30px #ffffff;
}
.auth {
    width: 28%;
    margin-left: 12px;
    height: 60px;
}
.user {
    border-radius: 19px;
    border: 2px solid #ffffff;
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
}
.button {
    width: 160px;
    height: 50px;
    margin-bottom: 30%;
    border-radius: 15px;
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
    transition: border-radius 0.5s ease-in, box-shadow 1s ease-in;
}
.button:hover {
    border-radius: 22px;
    box-shadow: 0px 0px 30px #ffffff;
}
.btn_text {
    margin-top: 7%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}
.login {
    display: flex;
    justify-content: space-evenly;
}
