<link rel="stylesheet" href="../../static/css/safe_app_school/about.css">
{% extends "safe_app_school/base.html" %}

{% block content %}
<div class="back">
    <a href="/safeappschool/main"><p class="back_text" style="color: #ffffff">Назад</p></a>
</div>
<div class="header">
    <h2 class="header_title">О SafeAppSchool</h2>
</div>
<div class="article">
    <div class="article_text_back">
        <p class="article_text">Построение безопасного маршрута для того, что бы ваш ребенок смог добраться от дома до
            школы без проблем по пути.<br><br>

            SafeAppSchool - приложение по городу. К тому, который прямо сейчас вокруг вас. Интерфейс приложения устроен
            так, что бы ребенок интуитивно понимал как пользоваться им. Преимущество нашего приложения состоит в
            минимизированном дизайне, без лишних функций.<br><br>

            Для вопросов и предложений вы можете обращаться по адресу: <br><a href="mailto:andrei@duvakin.ru">andrei@duvakin.ru</a>
            <br><a href="mailto:a.mikryukova119@mail.ru">a.mikryukova119@mail.ru</a><br><br>

            Ссылка на Github.com: <a href="https://github.com/AndreiDuvakin/SafeAppShcool">https://github.com/AndreiDuvakin/SafeAppShcool</a></p>
    </div>
</div>
{% endblock %}