.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #f0ffff;
}
body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f0ffff;
}
.user_img {
    border-radius: 50%;
}
.upp_zag {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}
.user {
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
    border-radius: 19px;
    border: 2px solid #ffffff;
}