<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/base.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="../static/img/MoonCcircl.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>{{title}}</title>
</head>
<body style=background-color:#f0ffff>
<nav class="navbar navbar-light" style="background-color: #d4f1ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/img/MoonCcircl1.png" width="70" height="70">
        </a>
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/">
                <h2 style="color:#56a3ff">Главная</h2>
            </a>
        </ul>
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/diary">
                <h2 style="color:#56a3ff">Дневник</h2>
            </a>
        </ul>
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/publications">
                <h2 style="color:#56a3ff">Публикации</h2>
            </a>
        </ul>
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/about">
                <h2 style="color:#56a3ff">О нас</h2>
            </a>
        </ul>
        {% if current_user.is_authenticated %}
        <a href="/logout"><div style="style=position:absolute; width:148px; height:44px; left:255px; -webkit-border-radius:
             22px;-moz-border-radius: 22px;border-radius: 22px; border:2px solid #FFFFFF; background-color:#1daff0; top:
             98px;"><img src="../{{ current_user.photo }}" width="40" height="40" style="border-radius: 50%">
            <strong style="color: #ffffff">{{ current_user.name }}</strong>
    </div></a>
    {% else %}
    <div>
        <a class="btn btn-primary " style="background-color:#41b6ff" type="submit" href="/register"><strong>
            Зарегистрироваться</strong></a>
        <a class="btn btn-primary" style="background-color:#38aaff" type="submit"
           href="/login"><strong>Войти</strong></a>
    </div>
    {% endif %}
    </div>
</nav>
<!-- Begin page content -->
<main role="main">
    {% block content %}{% endblock %}
</main>
</body>
</html>