<meta charset="UTF-8">
{% extends "base.html" %}
{% block content %}
<h1 class="title">Register Form</h1>
<div class="divlog">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <h3>Мы отправили секретный код вам на почту</h3>
        <p>
            {{ form.code_key.label }}<br>
            {{ form.code_key(class="form-control") }}<br>
            {% for error in form.code_key.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}