<link rel="stylesheet" href="../static/css/main.css">
{% extends "base.html" %}

{% block content %}
<div class="header">
    <img class="header_logo" src="../static/img/string_moona_no_back.png" width="50%">
    <h2 class="header_title">Добро пожаловать в moona - ваш проводник в мир оптимизма, дружелюбия и единения!</h2>
</div>
<div class="body">
    <div class="article_one">
        <div class="article_one_text_back">
            <p class="article_one_text">У всех нас бывают черные и белые полосы, хорошее и плохое настроение, мы переживаем плохие моменты нашей
            жизни и радуемся приятным мелочам. Однако многие не знают или забывают про такую вещь, как личный дневник, а
            ведь у него есть множество плюсов</p>
        </div>
        <img class="article_one_image" src="../static/img/neon_man.png">
    </div>
</div>
{% endblock %}