.back {
    margin-top: 5%;
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
    border-radius: 22px;
    border: 2px solid #ffffff;
    width: 20%;
    margin-left: 40%;
    height: 8%;
    font-size: 1.5vw;
}
.back_text {
    margin-top: 4%;
    text-align: center;
}
.page {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.header_title {
    font-size: 2.5vw;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    margin-top: 15px;
    transition: font-size 0.5s ease-in, text-shadow 1s ease-in;
}
.header_title:hover {
    font-size: 3vw;
    text-shadow: 0px 0px 20px #ffffff;
}
.header_button {
    margin-top: 10px;
    background: linear-gradient(45deg, #d1c3fc, #9bc4fc);
    border-radius: 19px;
    border: 2px solid #ffffff;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 10%;
}
.header_button_text {
    text-align: center;
    color: #ffffff;
}